.Home {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			"about-me about-me about-me spotlight spotlight"
			"exp skills skills skills skills";
}

.exp-area {
	grid-area: exp;
}

.skills-area {
	grid-area: skills;
}

.about-me-area {
	grid-area: about-me;
}

.spotlight-area {
	grid-area: spotlight;
}