.Home {
	display               : grid;
	grid-template-rows    : auto;
	grid-template-columns : 1fr;
	grid-template-areas   : "about-me" "spotlight" "exp" "skills"
}

@media screen and (min-width : 768px) {
	.Home {
		grid-template-columns : 1fr 1fr 1fr;
		grid-template-areas   : "about-me about-me about-me" "spotlight spotlight spotlight" "exp exp exp" "skills skills skills"
	}
}

@media screen and (min-width : 992px) {
	.Home {
		grid-template-columns : 1fr 1fr 1fr;
		grid-template-areas   : "about-me about-me about-me" "spotlight exp exp" "skills skills skills"
	}
}

@media screen and (min-width : 1020px) {
	.Home {
		grid-template-columns : 2fr 1fr 1fr 1fr 1fr;
		grid-template-areas   : "about-me about-me about-me spotlight spotlight" "exp skills skills skills skills";
	}
}

.exp-area {
	grid-area : exp;
}

.skills-area {
	grid-area : skills;
}

.about-me-area {
	grid-area : about-me;
}

.spotlight-area {
	grid-area : spotlight;
}

.ResumeGrid {
	display               : grid;
	grid-template-rows    : auto;
	grid-template-columns : 1fr;
	grid-template-areas   : "resume-left" "resume-right"
}

@media screen and (min-width : 768px) {
	.ResumeGrid {
		grid-template-columns : 2fr 1fr 1fr 1fr 1fr;
		grid-template-areas   : "resume-left resume-right resume-right resume-right resume-right";
	}
}

@media print {
	.ResumeGrid {
		height: 100vh;
		font-size: 15px;
		grid-template-columns : 1fr 2fr;
		grid-template-areas   : "resume-left resume-right";
	}
}

.resume-left {
	grid-area : resume-left;
}

.resume-right {
	grid-area : resume-right;
}