.Skills {
	display               : grid;
	grid-template-columns : 1fr 1fr 1fr;
	grid-template-rows    : auto;
	grid-row-gap          : 15px;
	grid-template-areas   : "header header header" "skill1 skill2 skill3";
	color                 : #ffffff;
	padding               : 1em;
}

.Skill {
	display     : flex;
	flex-flow   : column;
	align-items : center;
}

.Experience-header {
	grid-area : header;
}

.skill-1 {
	grid-area : skill1
}

.skill-2 {
	grid-area : skill2;
}

.skill-3 {
	grid-area : skill3;
}