.Resume {
	padding : 2em;
}

.Resume-Header {
	margin-bottom  : 1em;
	padding-bottom : .25em;
	border-bottom  : 2px solid black;
}

.Resume-Header i {
	margin-right : .5em;
}

.job {
	margin : 1.5em 0;
}

.job-title {
	display     : block;
	font-weight : bold;
}

.job-date {
	float : right;
	color : gray;
}

.job-meta {
}

.job-location {
	display    : block;
	font-style : italic;
}

.Resume-Skills-List li {
	display               : grid;
	grid-template-columns : 1fr 2fr;
	grid-template-rows    : auto;
	grid-gap              : 10px;
}

.Resume-Skills-List li > span {
	text-align : left;
}