.Navigation-grid {
	display               : grid;
	grid-template-columns : 1fr 1fr 1fr 1fr;
	grid-template-rows    : auto;
	grid-template-areas   : "home resume career github";
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.home-area {
	grid-area : home
}

.resume-area {
	grid-area : resume
}

.career-area {
	grid-area : career;
}

.github-area {
	grid-area : github
}