.Navigation-grid {
	display               : grid;
	grid-template-columns : 1fr 1fr 1fr 1fr;
	grid-template-rows    : auto;
	grid-template-areas   : "home resume career github";
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
}

.home-area {
	grid-area : home
}

.resume-area {
	grid-area : resume
}

.career-area {
	grid-area : career;
}

.github-area {
	grid-area : github
}