.Navigation-grid {
	display               : grid;
	grid-template-rows    : auto;
	height                : 100%;
	text-transform        : uppercase;
	letter-spacing        : 2px;
	grid-template-columns : 1fr 1fr;
	grid-template-areas   : "home resume" "career github";
}

@media screen and (min-width : 576px) {
	.Navigation-grid {
		grid-template-columns : 1fr 1fr 1fr 1fr;
		grid-template-areas   : "home resume career github";
	}
}

.home-area {
	grid-area : home
}

.resume-area {
	grid-area : resume
}

.career-area {
	grid-area : career;
}

.github-area {
	grid-area : github
}