.IconBox {
	color           : #f2f2f2;
	display         : flex;
	justify-content : center;
	align-items     : center;
	height          : 100%;
	flex-flow       : column;
	padding         : 1em;
}

.IconBox:hover {
	text-decoration : none;
}

.IconBox.hvr-sweep-to-right, .IconBox.hvr-shutter-out-horizontal {
	display : flex;
}

.IconBox.hvr-sweep-to-right:before, .IconBox.hvr-shutter-out-horizontal:before {
	background-color : rgba(255, 255, 255, 0.1);
}