.Contact {
	color       : #ffffff;
	font-family : "Helvetica Neue", Helvetica, sans-serif;
	display     : flex;
	flex-flow   : column;
}

.Contact-Header {
	background-color : var(--blue);
	padding          : 1em;
	text-align       : center;
	flex             : 0;
}

.Contact-Header p {
	margin     : 0;
	color      : #eeeeee;
	font-style : italic;
	padding    : 1em;
}

.Contact-Body {
	background-color : #5cb3fd;
	padding          : 1em;
	flex             : 1;
	display          : flex;
	flex-flow        : column;
	justify-content  : space-around;
	text-align       : center;
}

.Contact-Body > section {
	margin : 1em 0;
}

.Contact-Body p {
	margin : 0;
}

.Contact-Body ul li {
	margin : .5em 0;
}

.Contact-Body ul li i {
	margin-right : .5em;
}