.Timeline {
	--gray : #c1c1c1;
}

.Timeline-Time i {
	margin-right : .5em;
}

.Timeline ul {
	position : relative;
	padding  : 20px 0;
}

.Timeline ul:before {
	top              : 0;
	bottom           : 0;
	position         : absolute;
	content          : " ";
	width            : 2px;
	opacity          : .5;
	left             : 50%;
	margin-left      : -0.5px;
	background-color : #dddddd;
}

.Timeline ul > li {
	position      : relative;
	margin-bottom : 30px;
}

.Timeline ul > li:before {
	content : " ";
	display : block;
}

.Timeline-Badge {
	position         : relative;
	top              : 0;
	margin           : 1em auto;
	left             : 0;
	right            : 0;
	width            : 50px;
	height           : 50px;
	line-height      : 50px;
	font-size        : 1.4em;
	text-align       : center;
	border-radius    : 50%;
	background-color : #c1c1c1;
}

.Timeline-Panel {
	padding          : 30px;
	border           : 1px solid var(--gray);
	position         : relative;
	width            : 100%;
	background-color : #ffffff;
}

.Timeline-Heading {
}

@media screen and (min-width : 768px) {

	.Timeline-Badge {
		position : absolute;
		top      : -10px;
		margin   : 0 auto;
	}

	.Timeline-Panel {
		width : 46%;
	}

	.Timeline-Panel:hover {
		box-shadow : 0 0 25px 0 #000000;
	}

	.Timeline-Panel:hover .Timeline-Heading {
		color : var(--red);
	}

	.Timeline-Panel:before {
		position      : absolute;
		top           : 0;
		display       : inline-block;
		border-top    : 15px solid transparent;
		border-bottom : 15px solid transparent;
		content       : " ";
	}

	.Timeline ul > li:after {
		clear   : both;
		display : block;
		content : " ";
	}

	.Timeline ul > li:nth-child(even) > .Timeline-Panel {
		float : right;
	}

	.Timeline ul > li:nth-child(even) > .Timeline-Panel:before {
		border-right : 15px solid var(--gray);
		border-left  : 0 solid var(--gray);
		left         : -1em;
	}

	.Timeline ul > li:nth-child(odd) > .Timeline-Panel:before {
		border-left  : 15px solid var(--gray);
		border-right : 0 solid var(--gray);
		right        : -1em;
	}
}
