.Spotlight {
	color           : #ffffff;
	display         : flex;
	flex-flow       : column;
	align-items     : center;
	justify-content : center;
}

.Spotlight ul li > a {
	color : inherit;
}

.Spotlight ul li {
	margin : 1em 0;
}