.Experience {
	display     : flex;
	flex-flow   : column;
	align-items : center;
	color       : hsla(0, 0%, 100%, 0.7);
	padding     : 1em;
}

.Experience h1 {
	color : #ffffff;
}

.Experience ul li a {
	display   : block;
	font-size : 18px;
	color     : #ffffff;
}